.Bookkeeping-container {
}

.Bookkeeping-wrapper {
    position: relative;

    justify-content: unset;

    height: 626px;
}

.Bookkeeping-info {
    position: relative;
}

.Bookkeeping-image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    z-index: 1;
}

.Bookkeeping-containerInfo {
    max-width: 670px;

    z-index: 2;
}

.Bookkeeping-title {
}

.Bookkeeping-text {
    margin: 24px 0 0;
}

.Bookkeeping-title, .Bookkeeping-text {
    color: var(--mainWhite);
}

/* hover text */
@media only screen and (min-width: 992px) {

    .Bookkeeping-wrapperInfo {
        flex-direction: column;
        justify-content: end;
    }
    
    .Bookkeeping-containerInfo:hover .Bookkeeping-wrapperInfo.mainText {
        opacity: 0;
    }
    
    .Bookkeeping-containerInfo:hover .Bookkeeping-wrapperInfo.secondaryText {
        opacity: 1;
    }
}

/* adaptive */
@media only screen and (max-width: 1440px) {

    .Bookkeeping-containerInfo {
        max-width: 550px;
    }

    .Bookkeeping-wrapper {
        height: 501px;
    }

    .Bookkeeping-text {
        margin: 16px 0 0;
    }
}

@media only screen and (max-width: 768px) {
    
    .Bookkeeping-wrapper {
        height: 399px;
    }

    .Bookkeeping-text {
        margin: 20px 0 0;
    }
}

@media only screen and (max-width: 550px) {

    .Bookkeeping-wrapper {
        height: 261px;
    }

    .Bookkeeping-text {
        margin: 12px 0 0;
    }
}