.Bookkeeping-container {
}

/* TODO bg img */
.Bookkeeping-wrapper {
    height: 626px;

    background: #B7B7B7;
}

.Bookkeeping-containerInfo {
    max-width: 534px;
}

.Bookkeeping-title {
}

.Bookkeeping-text {
    margin: 24px 0 0;
}

.Bookkeeping-title, .Bookkeeping-text {
    color: var(--mainWhite);
}

@media only screen and (max-width: 1440px) {

    .Bookkeeping-wrapper {
        height: 501px;
    }

    .Bookkeeping-text {
        margin: 16px 0 0;
    }
}

@media only screen and (max-width: 768px) {
    
    .Bookkeeping-wrapper {
        height: 399px;
    }

    .Bookkeeping-text {
        margin: 20px 0 0;
    }
}

@media only screen and (max-width: 480px) {

    .Bookkeeping-wrapper {
        height: 261px;
    }

    .Bookkeeping-text {
        margin: 12px 0 0;
    }
}