.CustomerService-container {
}

.CustomerService-wrapper {
    /* height: 548px; */
}

.CustomerService-containerInfo {
    max-width: 740px;

    background: var(--mainWhite);
}

.CustomerService-title {
}

.CustomerService-text {
    margin: 24px 0 0;
}

.CustomerService-image {
    /* max-width: 780px;
    width: 100%;
    max-height: 548px;
    height: 100%; */
}

@media only screen and (max-width: 1440px) {

    .CustomerService-wrapper {
        height: 439px;
    }

    .CustomerService-containerInfo {
        max-width: 592px;
    }

    .CustomerService-text {
        margin: 16px 0 0;
    }

    .CustomerService-image {
        max-width: 624px;
        height: 100%;
    }
}