*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Urbanist';

    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    border: none;
    
    cursor: pointer;
}