.GraphicDesign-container {
}

.GraphicDesign-wrapper {
}

.GraphicDesign-containerInfo {
    max-width: 650px;

    background: var(--mainWhite);
}

.GraphicDesign-image {
    max-width: 870px;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.GraphicDesign-title {
}

.GraphicDesign-text {
    margin: 24px 0 0;
}

@media only screen and (max-width: 1440px) {

    .GraphicDesign-wrapper {
        height: 501px;
    }

    .GraphicDesign-containerInfo {
        max-width: 520px;
    }

    .GraphicDesign-text {
        margin: 16px 0 0;
    }
}

@media only screen and (max-width: 768px) {

    .GraphicDesign-wrapper {
        height: 391px;
    }

    .GraphicDesign-image {
        max-width: 378px;

        object-position: -60px;
    }

    .GraphicDesign-containerInfo {
        max-width: 311px;
    }

    .GraphicDesign-text {
        margin: 20px 0 0;
    }
}

@media only screen and (max-width: 425px) {

    .GraphicDesign-wrapper {
        height: 267px;
    }

    .GraphicDesign-image {
        max-width: 200px;

        object-position: -90px;
    }

    .GraphicDesign-containerInfo {
        max-width: 186px;
    }
}