.GraphicDesign-container {
}

.GraphicDesign-wrapper {
    height: 626px;
}

.GraphicDesign-image {
    max-width: 870px;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.GraphicDesign-containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 660px;

    background: var(--mainWhite);
}

.GraphicDesign-wrapperInfo {
}

.GraphicDesign-linkToPortfolioPage {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 220px;
    width: 100%;
    height: 62px;
}

.GraphicDesign-title {
}

.GraphicDesign-text {
    margin: 24px 0 0;
}

.GraphicDesign-containerInfo:hover .GraphicDesign-text.mainText {
    display: none;
}

.GraphicDesign-containerInfo:hover .GraphicDesign-text.secondaryText {
    display: block;
}

@media only screen and (max-width: 1440px) {

    .GraphicDesign-wrapper {
        height: 501px;
    }

    .GraphicDesign-containerInfo {
        max-width: 530px;
    }

    .GraphicDesign-text {
        margin: 16px 0 0;
    }
}

@media only screen and (max-width: 768px) {

    .GraphicDesign-wrapper {
        height: 391px;
    }

    .GraphicDesign-image {
        max-width: 378px;

        object-position: -60px;
    }

    .GraphicDesign-containerInfo {
        max-width: 311px;
    }

    .GraphicDesign-text {
        margin: 20px 0 0;
    }
}

@media only screen and (max-width: 550px) {

    .GraphicDesign-wrapper {
        height: 267px;
    }

    .GraphicDesign-image {
        max-width: 330px;
        
        object-position: -45px;
    }

    .GraphicDesign-containerInfo {
        max-width: 186px;
    }
}