.Header-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 98px;

    background: var(--secondaryWhite);

    z-index: 10;
}

.Header-wrapper {
    align-items: center;
}

.Header-logoIcon {
    width: 98px;
    height: 40px;
}

.Header-containerLinks {
}

.Header-link {
    padding: 12px 16px;

    color: var(--primaryWhite);
}

.Header-link + .Header-link {
    margin: 0 0 0 62px;
}

.Header-link:hover {
}

.Header-mainBtn {
    width: 220px;
    height: 52px;
}

@media only screen and (max-width: 1440px)  {

    .Header-mainBtn {
        width: 141px;
    }
}

@media only screen and (max-width: 768px) {
    
    .Header-link + .Header-link {
        margin: 0 0 0 6px;
    }

    .Header-mainBtn {
        width: 125px;
    }
}

@media only screen and (max-width: 640px) {

    .Header-container {
        height: 72px;
    }

    .Header-logoIcon {
        width: 72px;
        height: 29px;
    }

    .Header-containerLinks {
        display: none;
    }

    .Header-mainBtn {
        width: 103px;
        height: 40px;
    }
}