.Main-container {
    height: 931px;

    background-color: var(--secondaryWhite);
}

.Main-wrapper {
    text-align: center;
}

.Main-containerTitle {
    position: absolute;
    top: 138px;
    left: 50%;

    width: 100%;

    transform: translateX(-50%);

    z-index: 2;
}

.Main-title {
}

.Main-text {
    margin: 20px 0 0;

    line-height: 45px;
}

.Main-imageBackground {
    position: absolute;
    top: 0;
    left: 50%;

    width: 1586px;
    height: 931px;

    transform: translateX(-50%);
    
    z-index: 1;
}

@media only screen and (max-width: 1440px)  {

    .Main-container {
        height: 851px;
    }

    .Main-imageBackground {
        width: 1448px;
        height: 851px;
    }
}

@media only screen and (max-width: 768px) {
    
    .Main-container {
        height: 1173px;
    }

    .Main-containerTitle {
        top: 150px;
    }

    .Main-imageBackground {
        top: -23px;

        width: 2035px;
        height: 1196px;

        transform: 
            scale(1.25)
            translateX(-42%)
        ;
    }
}

@media only screen and (max-width: 640px) {

    .Main-container {
        height: 729px;
    }

    .Main-containerTitle {
        top: 130px;
    }

    .Main-imageBackground {
        top: -23px;

        width: 1415px;
        height: 837px;

        transform: 
            translate(-53%, 3%)
        ;
    }
}