.Management-container {
}

.Management-wrapper {
    height: 1096px;
}

.Management-gridTemplate {
    display: grid;
    grid-template-areas: 
        'photo card1' 
        'photo card2'
    ;
}

.Management-image {
    grid-area: photo;
}

.Management-containerInfo:nth-child(2) {
    grid-area: card1;
}

.Management-containerInfo:nth-child(3) {
    grid-area: card2;
}

.Management-containerInfo {
    max-width: 610px;

    background: var(--mainWhite);
}

.Management-title {
}

.Management-text {
    margin: 24px 0 0;
}

@media only screen and (max-width: 1440px) {
    .Management-wrapper {
        height: 878px;
    }

    .Management-image {
        width: 728px;
        height: 100%;
    }

    .Management-containerInfo {
        max-width: 488px;
        height: 439px;
    
        background: var(--mainWhite);
    }

    .Management-text {
        margin: 16px 0 0;
    }
}