.MedicalBilling-container {
}

.MedicalBilling-wrapper {
    height: 626px;
}

.MedicalBilling-containerInfo {
    max-width: 650px;
    width: 100%;

    background: var(--mainWhite);
}

.MedicalBilling-image {
    max-width: 870px;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.MedicalBilling-title {
}

.MedicalBilling-text {
    margin: 24px 0 0;
}

.MedicalBilling-title, .MedicalBilling-text {
    color: var(--mainBlack);
}

@media only screen and (max-width: 1440px) {
    
    .MedicalBilling-wrapper {
        height: 501px;
    }

    .MedicalBilling-containerInfo {
        max-width: 520px;
    }

    .MedicalBilling-text {
        margin: 16px 0 0;
    }
    
    .MedicalBilling-image {
        /* max-width: 696px; */
    }
}

@media only screen and (max-width: 768px) {

    .MedicalBilling-wrapper {
        height: 391px;
    }

    .MedicalBilling-containerInfo {
        max-width: 354px;
    }

    .MedicalBilling-text {
        margin: 20px 0 0;
    }

    .MedicalBilling-image {
        max-width: 317px;
    }
}

@media only screen and (max-width: 425px) {

    .MedicalBilling-wrapper {
        height: 261px;
    }

    .MedicalBilling-containerInfo {
        max-width: 184px;
    }

    .MedicalBilling-image {
        max-width: 137px;
    }
}