.MedicalBilling-container {
}

.MedicalBilling-wrapper {
    height: 626px;
}

.MedicalBilling-containerInfo {
    max-width: 650px;

    background: var(--mainWhite);
}

.MedicalBilling-image {
    /* max-width: 870px;
    width: 100%;
    max-height: 626px;
    height: 100%; */

    width: 100%;
}

.MedicalBilling-title {
}

.MedicalBilling-text {
    margin: 24px 0 0;
}

.MedicalBilling-title, .MedicalBilling-text {
    color: var(--mainBlack);
}

@media only screen and (max-width: 1440px) {
    .MedicalBilling-wrapper {
        height: 501px;
    }

    .MedicalBilling-containerInfo {
        max-width: 520px;
    
        background: var(--mainWhite);
    }
    
    .MedicalBilling-image {
        /* max-width: 696px;
        width: 100%;
        max-height: 501px;
        height: 100%; */
    }

    .MedicalBilling-text {
        margin: 16px 0 0;
    }
}