@media only screen and (max-width: 768px) {

    .PortfolioVideoProduction-container .VideoProduction-wrapper {
        height: 457px;
    }
}

@media only screen and (max-width: 550px) {

    .PortfolioVideoProduction-container .VideoProduction-wrapper {
        height: 212px;
    }

    .PortfolioVideoProduction-container .VideoProduction-wrapper .VideoProduction-iconPlay {
        top: 50%;
    }
}