.portfolioFooter-containerBtnBackToUp {
    position: fixed;
    right: 20px;
    bottom: 20px;

    z-index: 99;
}

.portfolioFooter-btnBackToUp {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
}

.portfolioFooter-btnBackToUpText {

}

.portfolioFooter-iconBtnBackToUp {

}