.PortfolioMain-container {
    padding: 165px 20px 0;
}

.PortfolioMain-wrapper {
    text-align: center;
}

.PortfolioMain-iconMain {
    max-width: 800px;
    width: 100%;
}

.PortfolioMain-containerToggleView {
    display: flex;
    
    max-width: 886px;
    width: 100%;
    height: 89px;

    margin: 140px auto 0;

    border: 1px solid #FFFFFF;
    border-radius: 55px;
}

.PortfolioMain-btnGraphicDesign {
    width: 50%;

    border-radius: 55px;

    color: var(--mainWhite);
}

.PortfolioMain-btnVideoProduction {
    width: 50%;

    border-radius: 55px;

    color: var(--mainWhite);
}

.PortfolioMain-btnGraphicDesign.active {
    background: #FFFFFF;

    color: var(--mainBlack);
}

.PortfolioMain-btnVideoProduction.active {
    background: #FFFFFF;

    color: var(--mainBlack);
}

@media only screen and (max-width: 768px) {

    .PortfolioMain-iconMain {
        max-width: 640px;
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {

    .PortfolioMain-containerToggleView {
        height: 55px;
    }

    .PortfolioMain-btnGraphicDesign, .PortfolioMain-btnVideoProduction {
        font-size: 13px;
    }
}