.PortfolioVideoProduction-container {
    position: relative;

    padding: 100px 0 100px;

    z-index: 5;
}

@media only screen and (max-width: 768px) {

    .PortfolioVideoProduction-container {
        padding: 70px 0 70px;
    }
}

@media only screen and (max-width: 550px) {

    .PortfolioVideoProduction-container {
        padding: 40px 0 40px;
    }

    .VideoProduction-mainTitle {
        font-size: 42px;
    }
}