.portfolioPresentation-container {
    padding: 100px 20px;
}

.portfolioPresentation-wrapper {
}

.portfolioPresentation-grid {
    display: grid;
    grid-template-rows: auto 185px auto 141px auto 120px; 
    grid-template-areas: 
        'portfolio1 portfolio2'
        'portfolio1 portfolio4'
        'portfolio3 portfolio4'
        'portfolio3 portfolio6'
        'portfolio5 portfolio6'
        'portfolio5 portfolio8'
        'portfolio7 portfolio8'
    ;
}

.portfolioPresentation-image {
    width: 100%;
    height: 100%;

    border-radius: 30px;
    border: 1px solid var(--mainBlack);

    object-fit: cover;
}

.portfolioPresentation-containerImage:nth-child(1) {
    grid-area: portfolio1;

    /* width: 778px; */
    height: 724px;
}

.portfolioPresentation-containerImage:nth-child(2) {
    grid-area: portfolio2;

    
    height: 539px;
}

.portfolioPresentation-containerImage:nth-child(3) {
    grid-area: portfolio3;

    height: 570px;

}

.portfolioPresentation-containerImage:nth-child(4) {
    grid-area: portfolio4;

    height: 614px;
}

.portfolioPresentation-containerImage:nth-child(5) {
    grid-area: portfolio5;

    height: 708px;
}

.portfolioPresentation-containerImage:nth-child(6) {
    grid-area: portfolio6;

    height: 729px;
}

.portfolioPresentation-containerImage:nth-child(7) {
    grid-area: portfolio7;

    height: 519px;
}

.portfolioPresentation-containerImage:nth-child(8) {
    grid-area: portfolio8;

    height: 637px;
}