.Team-container{
    padding: 0 0 100px 0;
}

.Team-wrapper {
}

.Team-containerPerson {
    position: relative;
}

.Team-imagePerson {
    max-width: 304px;
    width: 100%;
    height: 100%;
}

.Team-containerInfoPerson {
    position: absolute;
    bottom: 0;
    left: 0;

    display: none;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    height: 336px;

    padding: 37px 32px;

    background: linear-gradient(
        359.74deg, 
        #1B1B1B -10.99%, 
        rgba(27, 27, 27, 0.625018) 30.06%, 
        rgba(27, 27, 27, 0) 99.67%
    );
}

.Team-containerPerson:hover .Team-containerInfoPerson{
    display: flex;
}

.Team-infoPersonName {
}

.Team-infoPersonProfession {
    margin: 12px 0 0;
}

.Team-infoPersonName, .Team-infoPersonProfession {
    color: var(--mainWhite);
}

@media only screen and (max-width: 1440px) {

        .Team-container{
        padding: 0 20px 100px ;
    }

    .Team-wrapper {
        height: 475px;
    }

    .Team-containerInfoPerson {
        height: 269px;
    }
}

@media only screen and (max-width: 768px) {

    .Team-container{
        padding: 0 40px 60px ;
    }

    .Team-wrapper {
        display: grid;
        justify-content: unset;

        grid-template-areas: 
            'photo1 photo3' 
            'photo1 photo2'
            'photo4 photo2'
            'photo5 photo5'
        ;

        height: auto;
    }

    .Team-imagePerson {
        max-width: none;
        height: 100%;

        object-fit: cover;
    }

    .Team-containerPerson:nth-child(1) {
        height: 561px;

        grid-area: photo1;
    }

    .Team-containerPerson:nth-child(2) {
        height: 561px;

        grid-area: photo2;
    }

    .Team-containerPerson:nth-child(3) {
        height: 376px;

        grid-area: photo3;
    }

    .Team-containerPerson:nth-child(4) {
        height: 376px;

        grid-area: photo4;
    }

    .Team-containerPerson:nth-child(5) {
        height: 271px;

        grid-area: photo5;
    }

    .Team-containerInfoPerson {
        display: flex;

        padding: 28px;

        height: 300px;
    }

    .Team-containerPerson:nth-child(5) .Team-containerInfoPerson {
        max-width: 430px;
        width: 100%;
        height: 100%;

        background: linear-gradient(
            90deg, #1B1B1B -10.99%, 
            rgba(27, 27, 27, 0.625018) 30.06%, 
            rgba(27, 27, 27, 0) 99.67%
        );
    }
}

@media only screen and (max-width: 550px) {

    .Team-container{
        padding: 0 20px 32px ;
    }

    .Team-containerPerson:nth-child(1) {
        height: 263px;

        grid-area: photo1;
    }

    .Team-containerPerson:nth-child(2) {
        height: 263px;

        grid-area: photo2;
    }

    .Team-containerPerson:nth-child(3) {
        height: 176px;

        grid-area: photo3;
    }

    .Team-containerPerson:nth-child(4) {
        height: 176px;

        grid-area: photo4;
    }

    .Team-containerPerson:nth-child(5) {
        height: 127px;

        grid-area: photo5;
    }

    .Team-containerInfoPerson {
        padding: 16px;

        height: 170px;
    }

    .Team-infoPersonProfession {
        max-width: 160px;
        width: 100%;

        margin: 8px 0 0;

        font-size: 14px;
    }
}