.VideoProduction-container {
}

.VideoProduction-wrapper {
    position: relative;

    height: 626px;

    background: #999999;
}

.VideoProduction-iconPlay {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.VideoProduction-containerInfo {
    max-width: 640px;
}

.VideoProduction-title {
}

.VideoProduction-text {
    margin: 24px 0 0;
}

.VideoProduction-title, .VideoProduction-text {
    color: var(--mainWhite);
}

@media only screen and (max-width: 1440px) {

    .VideoProduction-wrapper {
        height: 501px;
    }

    .VideoProduction-containerInfo {
        max-width: 490px;
    } 

    .VideoProduction-text {
        margin: 16px 0 0;
    }
}

@media only screen and (max-width: 768px) {

    .VideoProduction-containerInfo {
        max-width: 460px;
    } 

    .VideoProduction-iconPlay {
        width: 200px;
        height: 200px;
    }

    .VideoProduction-text {
        margin: 20px 0 0;
    }
}

@media only screen and (max-width: 360px) {

    .VideoProduction-wrapper {
        height: 258px;
    }

    .VideoProduction-containerInfo {
        max-width: none;
    } 

    .VideoProduction-iconPlay {
        top: 86px;

        width: 130px;
        height: 130px;

        
        transform: translate(-50%, none);
    }
}